<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hellbinds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <style>
        body {
            background-color: #1f1f21;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="default-buttons-grid">
            <div class="button-container HD2-Favourite" onclick="window.location.href='{{ url_for('selection') }}'">
                <div class="background-square">
                    <img class="button-svg" src="/static/Icons/Mission/HD2-Favourites.png" alt="HD2-E110" width="64" height="64">
                        <svg viewBox="0 0 64 64">
                            <rect width="100%" height="100%" fill="none" rx="10" ry="10"/>
                        </svg>
                </div>
            </div>
            <div class="button-container HD2-Hellbomb" onclick="toggleStroke(this)">
                <div class="background-square">
                    <img class="button-svg" src="/static/Icons/Mission/HD2-Hellbomb.png" alt="HD2-E110" width="64" height="64">
                    <svg viewBox="0 0 64 64">
                        <rect width="100%" height="100%" fill="none" rx="10" ry="10"/>
                    </svg>
                </div>
            </div>
            <div class="button-container HD2-Upload-SSSD" onclick="toggleStroke(this)">
                <div class="background-square">
                    <img class="button-svg" src="/static/Icons/Mission/HD2-Upload-SSSD.png" alt="HD2-E110" width="64" height="64">
                    <svg viewBox="0 0 64 64">
                        <rect width="100%" height="100%" fill="none" rx="10" ry="10"/>
                    </svg>
                </div>
            </div>
            <div class="button-container HD2-Upload" onclick="toggleStroke(this)">
                <div class="background-square">
                    <img class="button-svg" src="/static/Icons/Mission/HD2-Upload.png" alt="HD2-E110" width="64" height="64">
                    <svg viewBox="0 0 64 64">
                        <rect width="100%" height="100%" fill="none" rx="10" ry="10"/>
                    </svg>
                </div>
            </div>
            <div class="button-container HD2-SEAF" onclick="toggleStroke(this)">
                <div class="background-square">
                    <img class="button-svg" src="/static/Icons/Mission/HD2-SEAF.png" alt="HD2-E110" width="64" height="64">
                    <svg viewBox="0 0 64 64">
                        <rect width="100%" height="100%" fill="none" rx="10" ry="10"/>
                    </svg>
                </div>
            </div>
            <div class="button-container HD2-Reinforcement" onclick="toggleStroke(this)">
                <div class="background-square">
                    <img class="button-svg" src="/static/Icons/Support/HD2-Reinforcement.png" alt="HD2-E110" width="64" height="64">
                    <svg viewBox="0 0 64 64">
                        <rect width="100%" height="100%" fill="none" rx="10" ry="10"/>
                    </svg>
                </div>
            </div>
            <div class="button-container HD2-Resupply" onclick="toggleStroke(this)">
                <div class="background-square">
                    <img class="button-svg" src="/static/Icons/Support/HD2-Resupply.png" alt="HD2-E110" width="64" height="64">
                    <svg viewBox="0 0 64 64">
                        <rect width="100%" height="100%" fill="none" rx="10" ry="10"/>
                    </svg>
                </div>
            </div>
            <div class="button-container HD2-SOS" onclick="toggleStroke(this)">
                <div class="background-square">
                    <img class="button-svg" src="/static/Icons/Support/HD2-SOS.png" alt="HD2-E110" width="64" height="64">
                    <svg viewBox="0 0 64 64">
                        <rect width="100%" height="100%" fill="none" rx="10" ry="10"/>
                    </svg>
                </div>
            </div>
            <div class="button-container HD2-ERA" onclick="toggleStroke(this)">
                <div class="background-square">
                    <img class="button-svg" src="/static/Icons/Eagle/HD2-ERA.png" alt="HD2-E110" width="64" height="64">
                    <svg viewBox="0 0 64 64">
                        <rect width="100%" height="100%" fill="none" rx="10" ry="10"/>
                    </svg>
                </div>
            </div>
            <div class="button-container HD2-Seismic-Probe" onclick="toggleStroke(this)">
                <div class="background-square">
                    <img class="button-svg" src="/static/Icons/Mission/HD2-Seismic-Probe.png" alt="HD2-E110" width="64" height="64">
                    <svg viewBox="0 0 64 64">
                        <rect width="100%" height="100%" fill="none" rx="10" ry="10"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="selected-buttons-grid">

        </div>
    </div>
    <div id="fullscreenButtonContainer">
        <button id="fullscreenButton" onclick="toggleFullscreen()">
            <img id="fullscreenIcon" src="/static/fullscreenOn.png" alt="Fullscreen">
        </button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>